<!doctype html>

<html lang="zh-CN" ng-app="rest-data-web" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


    <link th:href="@{/stylesheets/bootstrap/bootstrap-3-combined.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/stylesheets/app-main.css}" rel="stylesheet"/>

    <script th:src="@{/javascripts/angular/angular.1.5.5.min.js}"></script>
    <script th:src="@{/javascripts/angular/angular-resource.1.5.5.js}"></script>

    <title>Road Accidents REST Data Web</title>
</head>


<body>
<div class="container-fluid" ng-controller="RoadAccidentsController">
    <div class="row-fluid">
        <div class="span12">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container-fluid">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="col-xs-6 span9">
                    <div class="row-fluid">
                        <div class="span12">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>
                                        Index
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Time
                                    </th>
                                    <th>
                                        District
                                    </th>
                                    <th>
                                        Severity
                                    </th>
                                    <th>
                                        Vehicles
                                    </th>
                                    <th>
                                        Casualties
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="ra in roadAccidents" ng-mouseover="detail()">
                                    <td  ng-click="detail()">
                                        {{ra.accidentIndex}}
                                    </td>
                                    <td>
                                        {{ra.occurOn}}
                                    </td>
                                    <td>
                                        {{ra.occurAt}}
                                    </td>
                                    <td>
                                        {{ra.districtAuthority.label}}
                                    </td>
                                    <td>
                                        {{ra.accidentSeverity.label}}
                                    </td>
                                    <td>
                                        {{ra.numberOfVehicles}}
                                    </td>
                                    <td>
                                        {{ra.numberOfCasualties}}
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="pagination">
                                <ul>
                                    <li>
                                        <a href="#">上一页</a>
                                    </li>
                                    <li>
                                        <a href="#">1</a>
                                    </li>
                                    <li>
                                        <a href="#">2</a>
                                    </li>
                                    <li>
                                        <a href="#">3</a>
                                    </li>
                                    <li>
                                        <a href="#">4</a>
                                    </li>
                                    <li>
                                        <a href="#">5</a>
                                    </li>
                                    <li>
                                        <a href="#">下一页</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 span3">
                    <dl>
                        <dt>
                            Index
                        </dt>
                        <dd>
                            200901BS70011
                        </dd>
                        <dt>
                            Longitude
                        </dt>
                        <dd>
                            -0.201349
                        </dd>
                        <dt>
                            Latitude
                        </dt>
                        <dd>
                            51.512273
                        </dd>
                        <dt>
                            Light_Conditions
                        </dt>
                        <dd>
                            Darkness - no lighting
                        </dd>
                        <dt>
                            Weather_Conditions
                        </dt>
                        <dd>
                            Fine no high winds
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <address> <strong>Twitter, Inc.</strong><br /> 795 Folsom Ave, Suite 600<br /> San Francisco, CA 94107<br /> <abbr title="Phone">P:</abbr> (123) 456-7890</address>
        </div>
    </div>
</div>

    <script th:src="@{/javascripts/services.js}"></script>
    <script th:src="@{/javascripts/controllers.js}"></script>
    <script th:src="@{/javascripts/app-main.js}"></script>

</body>

</html>